.file-link {
  text-decoration: none;
}

.file {
  border: none;
  background: none;
  text-align: left;
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 0.25rem 1rem;
  gap: 1rem;
}

.file .tags {
  color: #999;
}

.file:hover {
  cursor: pointer;
  background-color: #ddd;
}
