.doc-info-modal {
  width: clamp(5rem, 70vw, 30rem);
  position: fixed;
  left: 50vw;
  transform: translateX(-50%);
}

.doc-info-modal .title {
  width: 100%;
  text-align: center;
  font-weight: bold;
}

.doc-info-modal div {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-top: 0.5rem;
  align-items: center;
}

.doc-info-modal input[type='text'] {
  min-width: 0;
  flex: 1;
}

.doc-info-modal .buttons {
  justify-content: center;
  gap: 1rem;
}
