.doc-info-modal .title {
  width: 100%;
  text-align: center;
  font-weight: bold;
}

.doc-info-modal div {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-top: 0.5rem;
  align-items: center;
}

.doc-info-modal input[type='text'] {
  min-width: 20rem;
}

.doc-info-modal .buttons {
  justify-content: center;
  gap: 1rem;
}
