body {
  margin: 0;
}

.app {
  height: 100dvh;
  display: flex;
  flex-direction: column;
}

.navbar {
  height: 1.5rem;
  display: flex;
  align-items: center;
  padding: 0.5rem;
  gap: 1rem;
  flex-shrink: 0;
  background-color: #cde;
}

.navbar .info {
  margin-left: auto;
}

.editor-component {
  flex: 1;
  overflow: hidden;
}

.editor-component .cm-editor {
  height: 100%;
}
